
.clientbody{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(http://www.1000zhu.com/images/wp6.jpg);
    background-repeat: repeat;
    /* background-size: 140%; */
    background-position:45% 50%;
    display: flex;
}
.addji{
    height: 300px;
    width: 100%;
    margin: auto;
}
.cli_ul{
    text-align: center;
    display: flex;
    justify-content: center;
}
.cli_li{
    display: inline-block;
    margin: 20px;
}
.cli_li>div:nth-of-type(1){
    width: 128px;
    height: 128px;
    overflow: hidden;
    background-image: url(http://www.1000zhu.com/images/words.png);
    background-size: 388%;
    background-position: 0px -619px;
    transition: width 2s;
}
.cli_li>div:nth-of-type(1):hover{
    background-image: none ;
    
}
.cli_li>div>div{
    display: inline-block;
    height: 70px;
    width: 74px;
    overflow: hidden;
    margin: 28px;
}
.cli_li>div>div>img{
    height: 1430%;
    float: left;
}
.c1>div>img{
    margin: -632px -134px;
}
.c2>div>img{
    margin: -630px -207px;
}
.c3>div>img{
    margin: -632px -288px;
}
.c4>div>img{
    margin: -627px -362px;
}
.c5>div>img{
    margin: -640px -432px;
}
.c6>div>img{
    margin: -702px -134px;
}
.cli_top{
    font-size: 24px;
    text-align: center;
}
@media screen and (max-height:500px) {
    .cli_top{
        font-size: 24px;
        text-align: center;
        margin-top: 5%;
    }
}
.cli_b{
    display: inline-block;
    margin-top: 20px;
}
.cli_fuck{
    margin-top:10px;
    font-family: "微软雅黑",Arial;
    font-size: 14px;
    color: #333;
}
.sb{
    background-color: white;
    width: 120px;
    height: 120px;
    position: absolute;
}
